$purple: hsl(246, 80%, 60%);

$orange: hsl(15, 100%, 70%);
$cyan: hsl(195, 74%, 62%);
$red: hsl(348, 100%, 68%);
$green: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$yellow: hsl(43, 84%, 65%);

$black: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$blue: hsl(235, 45%, 61%);
$light-blue: hsl(236, 100%, 87%);
